body {
  font-family: sans-serif;
  font-size: 12pt;
}

img {
  vertical-align: middle;
}

img.icon {
  width: 1.5em;
}

img.logo {
  margin-right: 0.5em;
}

span.nobr {
  white-space: nowrap;
}

div.stats {
  margin-bottom: 1em;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width : 568px) {
  div#bots-vs-wikipedians {
    width: 100%;
  }
}

@media only screen
and (min-width: 568px) {
  div#bots-vs-wikipedians {
    width: 50%;
    float: left;
  }
}
div#bots-vs-wikipedians {
  border: solid white 1px;
}

div#anons-vs-logged-ins {
  border: solid white 1px;
}

footer {
  clear: both;
}